{{docs-hero
  prefix="ember"
  heading="nypr-ads-htl"
  byline="For connecting NYPR sites to Hashtags Labs header bidding"}}

<div class="container">
  {{#docs-demo as |demo|}}
    {{#demo.example name="my-demo.hbs"}}

    {{/demo.example}}
  {{/docs-demo}}
</div>